body {
  margin: 0 auto;
  min-width: 1px;
  max-width: 1440px;
  height: 100vh;
  background: url(images/Background.png);
  background-size: cover;
  overflow: hidden;
	
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 50px;
}

.titles {
  padding-left: 103px;
  padding-top: 146px;
  color: white;
}

.title {
  font-size: 57px;
  margin-bottom: 0;
  margin-top: 0;
}

.subtitle {
	font-style: normal;
	font-size: 19px;
	margin-bottom: 60px;
}

.level {
  list-style: none;
  padding-left: 192px;
}

li {
	position: relative;
	color: white;
	font-size: 50px;
	cursor: pointer;
	padding-right: 24px;
}

.active:before {
content:url(images/Rectangle.png);
position: absolute;
left: -34px;
}

.start {
  width: 100%;
  display: flex;
  padding-right: 200px;
  padding-left: 98px;
  box-sizing: border-box;

}

.btn {
  cursor: pointer;
  padding: 29px 85px;
  height: 50%;
  background: #D62B2E;
  color: white;
  font-size: 2em;
  border-color: #D62B2E;
  text-align: center;
  margin-right: 30%;
  margin-top: 114px;

}

.img {
  width: 55%;
  height: 40%;
  align-self: center;

}

.simple {
  margin: 0 auto;
  grid-template-columns: repeat(3, auto);
  display: none;
  padding-top: 300px;
	justify-content: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.medium {
	display: none;
  grid-template-columns: repeat(3, auto);
	justify-content: center;
	padding-top: 200px;
}

.group-one-m {
	justify-content: space-between;
	margin: 0 auto;
	width: 60%;
	display: flex;
  margin-bottom: 63px;
}
.group-two-m {
	justify-content: space-between;
	margin: 0 auto;
	width: 60%;
	display: flex;
}

.hard {
	display: none;
	grid-template-columns: repeat(5,auto);
	justify-content: center;
	width: 90%;
	margin: 0 auto;
	padding-top: 200px;


}

/*.group-one-h {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
  margin-bottom: 63px;
}

.group-two-h {
	margin: 0 auto;
	display: flex;
}*/

.item {
  margin: 10px;
  width: 218px;
  height: 341px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.item:checked {
  
  transform: rotateZ(-4deg);
}

.item-front, .item-back  {
	position: absolute;
	right: 10px;
	left: 0;
	cursor: pointer;
	perspective: 1000px;
	transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

 .item-back {
  width: 100%;
  height: 100%;
	transform: rotateY(180deg);
}


	.item-front {
    width: 100%;
  height: 100%;
	-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



.flip {
	cursor: pointer;
  transform: rotateY(180deg);

}


@media(max-width: 1295px){

.hard{
  grid-template-columns: repeat(5,auto);
}
}

@media (max-width: 1174px) {
  .container {
    padding-right: 0;
  }
  .titles {
    padding-left: 0px;
    margin: auto;
}
.title {
  font-size: 47px;
  }

.subtitle {
  font-size: 19px;

}

.start {
  padding-right: 257px;
  padding-left: 30px;

}
  .btn {
     padding: 20px 55px;
     margin-left: 52px;
  }
  .item {
    width: 150px;
    height: 250px;
  }

}

@media (max-width: 900px) {

  body {
    height: 100%;
    overflow: hidden;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
        padding-right: 0;
  }
  .title {
    font-size: 47px;
  }
  .subtitle {
    font-size: 16px;
  }
 .start {
  display: flex;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
 }
  .medium {

    grid-template-columns: repeat(2,auto);
  }

  .simple {
    padding-top: 100px;
grid-template-columns: repeat(1,auto);
  }

.hard{
  grid-template-columns: repeat(2,auto);
}
  .item {
    width: 150px;
    height: 250px;
  }
  .level {
    padding-left: 0;
    margin: 0 auto;
  }
 .img {
  display: none;
  /*padding-top: 29px;*/
 }
 .btn {
  align-self: center;
  margin-right: 0;
  margin-left: 0;

  padding: 29px 55px;
 }
 .titles {
  padding-top: 95px;
  padding-left: 20px;
    padding-right: 20px;
 }
 .title, .subtitle {
  text-align: center;
 }
 li {
  text-align: left;
  margin: 0 auto;
  font-size: 40px;
 }
}

@media (max-width: 518px) {

  
     .item {
    width: 100px;
    height: 150px;

  }
  
}
